<!DOCTYPE html>
<html>
<head>
    <script>
                token = '{{ token }}';
                </script>
    <meta charset="UTF-8">
	<title>Document</title>
       
</head>

<body>
    
	<div id="header">
            {%if user %}
                user: {{ user.username}}  amount: {{user.amount}} <a href="/logout">разлогинка</a>
            {% else %}
                user: anonimus <a href="/login">залогинка</a>
            {% endif %}<br>
                <a href="http://demo5.qwer.com.ua/?lang=en">en</a>/<a href="http://demo5.qwer.com.ua/?lang=ru">ru</a>
		<!--<img src="{#{ asset( "bundles/qwerlottofrontend/images/header.png") }#}" alt="">-->
	</div>
    
<iframe style="width: 100%; height: 1215px; border: none;"src="http://lottoserv.my/app_dev.php/{%if app.request.get('lang') != ''%}{{app.request.get('lang')}}{%else%}ru{%endif%}?token={% if token != ''%}{{token}}{% endif %}"></iframe>
</body>
</html>

