<!DOCTYPE html>
<html>
<head>
    <script>
                token = '{{ token }}';
                </script>
    <meta charset="UTF-8">
	<title>Document</title>
                <link rel="stylesheet" href="http://demo6.qwer.com.ua/bundles/qwerlottofrontend/css/jquery-ui-1.10.2.custom.css" media="all">
        <link rel="stylesheet" href="http://demo6.qwer.com.ua/bundles/qwerlottofrontend/css/imageflow.packed.css">
        <link rel="stylesheet" href="http://demo6.qwer.com.ua/bundles/qwerlottofrontend/css/jquery.selectbox.css" media="all">
        <link rel="stylesheet" href="http://demo6.qwer.com.ua/bundles/qwerlottofrontend/css/style.css" media="all">
        	<script src="http://demo6.qwer.com.ua/bundles/qwerlottofrontend/js/jquery-1.9.1.js"></script>
	<script src="http://demo6.qwer.com.ua/bundles/qwerlottofrontend/js/imageflow.packed.js"></script>
        <script src="http://demo6.qwer.com.ua/bundles/qwerlottofrontend/js/imageflow.js"></script>
	<script src="http://demo6.qwer.com.ua/bundles/qwerlottofrontend/js/jquery-ui-1.10.2.custom.min.js"></script>
	<script src="http://demo6.qwer.com.ua/bundles/qwerlottofrontend/js/jquery.selectbox-0.2.js"></script>
	<script src="http://demo6.qwer.com.ua/bundles/qwerlottofrontend/js/script.js"></script>
</head>

<body>
    
	<div id="header">
            {%if user %}
                user: {{ user.username}}  amount: {{user.amount}} <a href="/logout">разлогинка</a>
            {% else %}
                user: anonimus <a href="/login">залогинка</a>
            {% endif %}<br>
                <a href="/lang=en">en</a>/<a href="/lang=ru">ru</a>
		<!--<img src="{#{ asset( "bundles/qwerlottofrontend/images/header.png") }#}" alt="">-->
	</div>
    
<iframe style="width: 100%; height: 1215px; border: none;"src="http://lotoserv.my/app_dev.php/{%if app.request.get('lang') != ''%}{{app.request.get('lang')}}{%else%}ru{%endif%}?token={% if token != ''%}{{token}}{% endif %}"></iframe>
</body>
</html>

